@use "../variables.scss" as *;

.button {
  padding: 0;
  font-family: $fontFamily;
  border: none;
  border-radius: 4px;
  background-color: $textСolor-secondary;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #9070ec;
  }

  &:active {
    background-color: #593cac;
  }

  &:disabled {
    background-color: #bdbdbd;
    cursor: default;
  }
}
