// viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

// font-size
$fontSize-main: 14px;

// text-color
$textСolor-main:      #333333;
$textСolor-secondary: #7859cf;

// font-family
$fontFamily: "Montserrat", "Arial", sans-serif;
